.searchbar {
	margin: 30px auto 30px auto;
	border: 2px solid #aaa;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	max-width: 500px;
}

.searchbar:focus-within {
	border-color: var(--focus);
}

.searchbar input {
	border: none;
	margin: 5px;
	padding: 0;
	height: 20px;
	outline: none;
	flex-grow: 1;
}

.searchbar img {
	height: 30px;
}

.block-heading {
	display: flex;
	height: 30px
}

.line {
	flex-grow: 1;
	margin-left: 20px;
	height: 50%;
	border-bottom: 2px solid black;
}

h2 {
	margin: 0;
	font-size: 16pt;
}

.loading {
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: center;
}

.loading span {
	background-color: #eee;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin: 15px;
	animation: bounce 2s infinite;
}

.loading span:nth-child(1) {animation-delay: 0s;}
.loading span:nth-child(2) {animation-delay: 0.1s;}
.loading span:nth-child(3) {animation-delay: 0.2s;}
.loading span:nth-child(4) {animation-delay: 0.3s;}
.loading span:nth-child(5) {animation-delay: 0.4s;}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(-50px);
	}
	20% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}

.fail {
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: center;
}

.fail span {
	color: red;
}