@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
	--background: #b8d3f0;
	--focus: #077efe;
}

body {
	margin: 0;
}

* {
	font-family: Source Code Pro, Fira Mono, monospace;
}

header {
	height: 100px;
	background-color: var(--background);
	box-shadow: 0 5px 5px #0004;
}

header img {
	height: 100px;
}

div.content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12pt;
}